* {
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

:root {
  --main-game-color: #283044;
  --secondary-game-color: #78A1BB;
  --third-game-color: #EBF5EE;
  --fourth-game-color: #7FB5D6;
  --fifth-game-color: #0365A2;
  --button-yes-color: #0aad95;
  --button-no-color: #ba2d5c;
}

#nikolAI {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vw;
}

.game__container {
  width: 70vw;
  height: 80vh;
  border: 10px solid var(--main-game-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nikola__home__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.welcome__title {
  width: 90%;
  height: 10%;
  background: var(--fifth-game-color);
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif cursive;
  font-weight: bolder;
  color: white;
}

.game__mode__container {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.game__mode {
  width: 50%;
  height: 95%;
  background: var(--third-game-color);
  margin: 1vw;
  border: 5px solid var(--main-game-color);
  overflow: hidden;
}

.game__mode__front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game__mode__title {
  display: flex;
  width: 98%;
  height: 10%;
  background: var(--secondary-game-color);
  align-items: center;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  color: white;
  border-bottom: 4px solid var(--main-game-color);
}

.game__mode__title h1 {
  display: inline;
  text-align: center;
  padding-left: 2%;
  padding-right: 3%;
  border-right: 4px solid var(--main-game-color);
}

.game__mode__title h2 {
  display: inline;
  padding-right: 2%;
}

.game__mode__front__container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.game__mode__front__hover {
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1vw;
  background: var(--fourth-game-color);
  border-radius: 0px 20px 20px 0px;
  border-right: 2px solid var(--main-game-color);
  border-top: 2px solid var(--main-game-color);
  outline: 2px solid black;
  border-bottom: 2px solid var(--main-game-color);
  transition: 1s ease;
}

.game__mode__front__hover:hover {
  padding-right: 20px;
  padding-left: 10px;
}

.game__mode__front__hover h3 {
  width: 70%
}

.game__mode__image svg {
  width: 2vw;
  margin-right: 10px;
}

.jokic__photo__container {
  width: 95%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.jokic__photo {
  width: 40%;
  height: 100%;

}

.game__mode__back__container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.game__mode__back {
  width: 90%;
  height: 100%;
  padding: 8px;
  text-align: justify;
  margin-left: 5px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(30deg, var(--fourth-game-color), var(--secondary-game-color) 120%);
  display: flex;
  justify-content: center;
}

.game__mode__back__content {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  background: whitesmoke;
}

.game__mode__back__content li:not(:last-child) {
  margin-bottom: 8px;
}


#info__content {
  transition: 1s ease;
}

#info__contentR {
  transition: 1s ease;
}

#jokic__2 {
  height: 100%;
}

.game__mode:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main__game__container {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.chat__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input__form {
  width: 35%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button__YN {
  width: 45%;
  height: 80%;
}

.button__YN {
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 1;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

.button__YN:hover {
  opacity: 0.8;
}

.button__YN:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}

.jokic__image {
  position: relative;
  z-index: 1;
}

.chat__display {
  width: 95%;
  height: 100%;
  background: grey;
  position: relative;
  z-index: -1;
}