.display {
  width: 70vw;
  height: 60vh;
  margin: auto;
  transform: translateY(30%);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameplay {
  width: 95%;
  height: 80%;
  background-color: blue;
}

.shotmeter {
  width: 500px;
  height: 50px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
}

#scorebox {
  height: 100%;
  width: 5vw;
  background-color: lime;
  position: absolute;
}

#shotbox {
  height: 100%;
  width: 3vw;
  background-color: red;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0%;
}