@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

.display {
  width: 70vw;
  height: 80vh;
  margin: auto;
  transform: translateY(15%);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameplay {
  width: 95%;
  height: 80%;
}

.shotmeter {
  width: 500px;
  height: 50px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
}

#scorebox {
  height: 100%;
  width: 5vw;
  background-color: lime;
  position: absolute;
}

.background {
  width: 100%;
  height: 100%;
  position: relative;
}

.background img {
  width: 100%;
  height: 100%;
}

.net {
  width: 10vw;
  height: 10vh;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 35%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
}

.netbox {
  width: 40%;
  height: 50%;
  margin: auto;
  transform: translateY(38%);
  border: 3px solid red;
}

#ball {
  width: 5vw;
  height: 10vh;
  background-color: orange;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  top: 88%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

.score p {
  font-family: "Montserrat";
  font-size: 2em;
}

@keyframes scoreball {
  0% {
    transform: translate(0, 0);
    /* Starting position */
  }


  100% {
    transform: translate(-2vw, -35vh);
    /* Move up to touch the net */
  }
}

@keyframes missball {
  0% {
    transform: translate(0, 10);
    /* Starting position */
  }


  100% {
    transform: translate(0, -25vh);
    /* Move up to touch the net */
  }
}

@keyframes missball2 {
  0% {
    transform: translate(0, 10);
    /* Starting position */
  }


  100% {
    transform: translate(-15vw, -20vh);
    /* Move up to touch the net */
  }
}


#shootbtn {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  margin-top: 15px;
}

#shootbtn:hover {
  background-position: right top;
}

@media (prefers-reduced-motion: reduce) {
  #shootbtn {
    transition: linear;
  }
}
